@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-white text-gray-800 antialiased; /* Background and default text color */
  margin: 0; /* Remove default margin from the body */
  padding: 0; /* Remove default padding */
  font-family: 'Inter', sans-serif; /* Set a consistent font family */
}

* {
  @apply p-0 m-0 border-0 box-border; /* Removes padding, margin, borders, and uses box-border for predictable sizing */
}

ul {
  @apply list-none;
}

a {
  @apply no-underline text-inherit;
}

button {
  @apply cursor-pointer bg-transparent border-none outline-none;
}

img {
  @apply block max-w-full;
}